In [2]:
import pandas as pd

In [5]:
folder = "D:\\2024\\Diplomado\\1 Herramientas básicas de visualización de datos\\diplomado_ml\\dataset\\"
file= 'titles.csv'
ruta = folder+file
df = pd.read_csv(ruta)

In [6]:
df.head()

                    title  year  rating  votes
0          Spanish Fiesta  2019     6.9     29
1  La tierra de los toros  2000     5.4     14
2           Dama de noche  1993     6.0     25
3              Frivolinas  2014     5.6     19
4            Mya ga naing  1996     7.5     21

# Filtrado de datos en pandas

In [7]:
filtro = df['rating']>9.5
df_filtrado = df[filtro]
df_filtrado.head()

                        title  year  rating  votes
3016   Always a New Beginning  1974     9.6     15
22570           All I Know Is  1992    10.0      5
55577                The Want  2001     9.8      9
74078      The People's Story  2000     9.6     20
77226          Indocumentados  2004     9.8     15

In [10]:
df2 = pd.read_csv('dataset/cast.csv',sep="|")

In [11]:
df2.head()

             name                   title  year  rating  votes
0     Ève Francis          Spanish Fiesta  2019     6.9     29
1  Gabriel Gabrio          Spanish Fiesta  2019     6.9     29
2    Jean Toulout          Spanish Fiesta  2019     6.9     29
3    Gaston Modot          Spanish Fiesta  2019     6.9     29
4  Antonio Cañero  La tierra de los toros  2000     5.4     14